// $theme-colors: (
//     'primary': #0091ea //Covalence Blue!  :D
// );

// * {
//     margin: 1%;
//     padding: 1%;
// }

body {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #ccc;
}

h1 {
    width: 100%;
    border: 2px solid blue;
    padding: 1%;
}

// @import '../../../node_modules/bootstrap/scss/bootstrap.scss';
